:root {
  --laranja: #FF6A28;
  --branco: #fff;
  --preto: #333;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.titulo {
  text-align: center;
  color: var(--laranja);
  margin-bottom: 25px;
}

/* Lista e cards */
.lista-receitas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.card {
  background: var(--branco);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
}

.card-info h3 {
  margin: 0;
  font-size: 19px;
  color: var(--preto);
}

.card-info p {
  margin-top: 6px;
  color: gray;
  font-size: 14px;
}

.filtros {
    max-width: 1000px;
    margin: 0 auto 20px auto;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.filtros input, .filtros select {
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
    height: 100%;
}

